<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.goods.dao.GoodsDao">
    <!--产品评价信息集合-->
    <resultMap id="GoodsEvaluatesMap" type="com.xzsd.app.goods.entity.GoodsEvaluates">
        <id column="appraise_code" property="appraiseCode" jdbcType="VARCHAR" />
        <result column="user_code" property="userCode" jdbcType="VARCHAR" />
        <result column="user_acct" property="userAcct" jdbcType="VARCHAR" />
        <result column="appraise_detail" property="appraiseDetai" jdbcType="VARCHAR" />
        <result column="a_level" property="appraiseLevel" jdbcType="VARCHAR"/>
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>
    <!--获取商品信息-->
    <select id="getGoods" parameterType="java.lang.String" resultType="com.xzsd.app.goods.entity.GoodsInfo">
       select
         a.goods_code goodsCode,
         a.goods_name goodsName,
         b.store_code storeCode,
         b.store_name storeName,
         a.goods_introduce goodsIntroduce,
         a.sale_price salePrice,
         a.image_path imagePath,
         a.a_level appraiseLevel,
         a.sum_sale sumSale,
         a.version version
       from
         t_goods a
       LEFT JOIN t_store b
       on a.store_code = b.store_code
       where
         a.goods_code = #{goodsCode}
       and
         a.is_deleted = 0
    </select>

    <!--查询产品评价列表-->
    <select id="listGoodsEvaluatesByPage" parameterType="com.xzsd.app.goods.entity.GoodsEvaluates" resultMap="GoodsEvaluatesMap">
        select
        b.user_acct,
        a.appraise_detail,
        a.a_level,
        a.create_time,
        a.user_code
        from
        t_goods_appraise a,t_sys_user b
        where
        a.user_code = b.user_code
        and
        a.is_deleted = 0
        and
        a.goods_code = #{goodsCode}
        <if test="appraiseLevel == 6">  </if>
        <if test="appraiseLevel == 1">
            and (a.a_level = 0 or a.a_level = 1)
        </if>
        <if test="appraiseLevel == 3">
            and (a.a_level = 2 or a.a_level = 3)
        </if>
        <if test="appraiseLevel == 5">
            and (a.a_level = 4 or a.a_level = 5)
        </if>
    </select>

    <!--查询商品一级分类列表-->
    <select id="getFirstClass" parameterType="com.xzsd.app.goods.entity.GoodsClassInfo" resultType="com.xzsd.app.goods.entity.GoodsClassInfo">
        select
            a.class_name classFirstName,
            a.class_code classFirstCode,
            a.version version
        from t_goods_class a
        where a.is_deleted = 0
        and a.last_class_code is null
        order by create_time desc
    </select>

    <!--二级分类商品的Map-->
    <resultMap id="getSecondClass" type="com.xzsd.app.goods.entity.GoodsClassInfo">
        <id column="class_code" property="classSecondCode" jdbcType="VARCHAR" />
        <id column="class_name" property="classSecondName" jdbcType="VARCHAR" />
        <collection property="classSecondGoodsList" ofType="com.xzsd.app.goods.entity.ClassSecondList" select="selectGoods" column="class_code">
            <id column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
            <id column="goods_name" property="goodsName" jdbcType="VARCHAR" />
            <id column="image_path" property="imagePath" jdbcType="VARCHAR" />
            <id column="sale_price" property="salePrice" jdbcType="VARCHAR" />
        </collection>
    </resultMap>
    <!--查询商品二级分类和商品-->
    <select id="getSecondClass" resultMap="getSecondClass">
        select
            class_name,
            class_code
        from t_goods_class
        where is_deleted = 0
        and last_class_code = #{lastClassCode}
        order by
        create_time desc
    </select>
    <select id="selectGoods" parameterType="com.xzsd.app.goods.entity.GoodsClassInfo" resultType="com.xzsd.app.goods.entity.GoodsClassInfo">
        select
            goods_code goodsCode,
            goods_name goodsName,
            image_path imagePath,
            sale_price salePrice
        from t_goods
        where class_second_code = #{classSecondCode}
        and is_deleted = 0
        and goods_state = 2
        and audit = 1
        order by
        create_time desc
    </select>

    <!--乡村信息列表-->
    <select id="listVillageByPage" parameterType="com.xzsd.app.goods.entity.VillageInfo" resultType="com.xzsd.app.goods.entity.VillageInfo">
        select
        a.village_code villageCode,
        a.village_name villageName,
        a.village_introduce villageIntroduce,
        a.image_code imageCode,
        a.address address,
        c.dic_name provinceName,
        d.dic_name cityName,
        e.dic_name areaName,
        a.version version
        from t_village a
        left join t_dictionary c
        on a.province_code = c.dic_code
        left join t_dictionary d
        on a.city_code = d.dic_code
        left join t_dictionary e
        on a.area_code = e.dic_code
        where
        a.is_deleted = 0
        <if test="villageName != null and villageName != ''">
            and a.village_name like concat('%', #{villageName}, '%')
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            and a.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            and a.city_code = #{cityCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            and a.area_code = #{areaCode}
        </if>
        order by a.create_time desc
    </select>

    <!--查询省市区下拉列表-->
    <select id="listArea" parameterType="java.lang.String" resultType="com.xzsd.app.goods.entity.AreaInfo">
        select
            dic_code areaCode,
            dic_name areaName
        from
            t_dictionary
        where
            parent_code = #{parentCode}
        order by dic_code
    </select>
</mapper>