<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.homePage.dao.HomePageDao">
    <!--查询轮播图-->
    <select id="getPictureShow" resultType="com.xzsd.app.homePage.entity.HomePageInfo">
        select
        show_image_url imagePath,
        goods_code goodsCode
        from t_picture_show
        where is_deleted = 0
        and show_state = 1
        order by sort_no asc
    </select>
    <!--查询展示数量-->
    <select id="getShowNumber" resultType="int">
        select show_no
        from t_dictionary
        where type = 4
        and is_deleted = 0
    </select>
    <!--查询热门乡村-->
    <select id="getHotVillage" parameterType="int" resultType="com.xzsd.app.homePage.entity.HomePageInfo">
        select
        b.village_code villageCode,
        a.village_name villageName,
        a.village_introduce villageIntroduce,
        a.image_code imagePath
        from
        t_village a,
        t_hot_village b
        where b.is_deleted = 0
        and a.is_deleted = 0
        and b.village_code = a.village_code
        order by hot_id asc limit #{showNumber}
    </select>


    <!--热门乡村及商品-->
    <resultMap id="getVillageAndGoods" type="com.xzsd.app.homePage.entity.HomePageInfo">
        <id column="village_code" property="villageCode" jdbcType="VARCHAR" />
        <id column="village_name" property="villageName" jdbcType="VARCHAR" />
        <id column="image_code" property="imagePath" jdbcType="VARCHAR" />
        <id column="village_introduce" property="villageIntroduce" jdbcType="VARCHAR" />
        <collection property="homePageInfoList" ofType="com.xzsd.app.homePage.entity.VillageGoodsInfo" select="selectGoods" column="village_code">
            <id column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
            <id column="goods_name" property="goodsName" jdbcType="VARCHAR" />
            <id column="image_path" property="imagePath" jdbcType="VARCHAR" />
            <id column="sale_price" property="salePrice" jdbcType="VARCHAR" />
            <id column="sum_sale" property="sumSale" jdbcType="VARCHAR" />
        </collection>
    </resultMap>
    <select id="getVillageAndGoods" resultMap="getVillageAndGoods">
        select
            village_code,
            village_name,
            image_code,
            village_introduce
        from t_village
        where is_deleted = 0
          and village_code = #{villageCode}
        order by
            create_time desc
    </select>
    <select id="selectGoods" parameterType="com.xzsd.app.homePage.entity.VillageGoodsInfo" resultType="com.xzsd.app.homePage.entity.VillageGoodsInfo">
        select
            goods_code goodsCode,
            goods_name goodsName,
            image_path imagePath,
            sale_price salePrice,
            sum_sale sumSale
        from t_goods
        where store_code in
        (select store_code from t_store where village_code = #{villageCode})
          and is_deleted = 0
          and goods_state = 2
        order by
            create_time desc
    </select>
</mapper>