<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.storer.dao.StorerDao">
    <!--查询站长信息-->
    <select id="getStoreByCode" parameterType="java.lang.String" resultType="com.xzsd.app.customer.entity.UserInfo">
        select
            b.store_code storeCode,
            b.store_name storeName,
            a.user_name userName,
            a.image_path imagePath,
            c.dic_name provinceName,
            d.dic_name cityName,
            e.dic_name areaName,
            CONCAT_WS('-',c.dic_name,d.dic_name,e.dic_name,b.address) address,
            a.role role
        from t_sys_user a
        LEFT JOIN t_store b
        on a.user_code = b.user_code
        LEFT JOIN t_dictionary c
        on b.province_code = c.dic_code
        LEFT JOIN t_dictionary d
        on b.city_code = d.dic_code
        LEFT JOIN t_dictionary e
        on b.area_code = e.dic_code
        where a.user_code = #{userId}
    </select>
    <!--查询区域供应商列表（站长端）-->
    <select id="getStoreSupplierByCode" parameterType="java.lang.String" resultType="com.xzsd.app.storer.entity.StorerInfo">
        select
        a.user_code userCode,
        c.user_name userName,
        c.phone phone
        from t_store a
        left join t_supplier b on (a.area_code = b.area_code and a.city_code = b.city_code)
        left join t_sys_user c on b.user_code = c.user_code
        where a.user_code = #{userCode}
        and a.is_deleted = 0
        and b.is_deleted = 0
        and c.is_deleted = 0
    </select>
</mapper>