<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.supplier.dao.SupplierDao">
    <!--查询所属门店（供应商端）-->
    <select id="getStoreBySupplier" parameterType="java.lang.String" resultType="com.xzsd.app.customer.entity.UserInfo">
        select
        e.store_code storeCode,
        e.store_name storeName,
        CONCAT_WS('-',b.dic_name,c.dic_name,d.dic_name,e.address) address,
        f.user_code userCode,
        f.user_name userName,
        f.phone phone
        from t_supplier a
        left join t_dictionary b on a.province_code = b.dic_code
        left join t_dictionary c on a.city_code = c.dic_code
        left join t_dictionary d on a.area_code = d.dic_code
        left join t_store e on (a.city_code = e.city_code and a.area_code = e.area_code)
        left join t_sys_user f on e.user_code = f.user_code
        where a.is_deleted = 0
        and e.is_deleted = 0
        and a.user_code = #{userCode}
    </select>
    <!--获取当前登录人的角色-->
    <select id="getRole" parameterType="java.lang.String" resultType="com.xzsd.app.supplier.entity.GoodsInfo">
        select
            role
        from
            t_sys_user
        where
            user_code = #{userId}
    </select>
    <!--查询自己提交的产品信息-->
    <select id="getMyGoods" parameterType="java.lang.String" resultType="com.xzsd.app.supplier.entity.GoodsInfo">
        select
            a.goods_code goodsCode,
            a.goods_name goodsName,
            a.goods_introduce goodsIntroduce,
            a.audit audit,
            a.image_path imagePath,
            a.stock stock,
            a.version version
        from t_goods a
        where a.is_deleted = 0
        <if test="role != null and role != '' and role == 4">
            and a.user_code = #{userCode}
        </if>
        <if test="role != null and role != '' and role == 3">
            and a.store_code = #{storeCode}
        </if>
        order by audit desc

    </select>
    <!--查询供应商个人信息-->
    <select id="getMyself" parameterType="java.lang.String" resultType="com.xzsd.app.customer.entity.UserInfo">
        select
        b.user_code userCode,
        a.user_name userName,
        a.phone phone,
        a.image_path imagePath,
        a.role role
        from
        t_sys_user a,t_supplier b
        where b.is_deleted = 0
        and b.user_code = #{userId}
        and a.user_code = b.user_code
    </select>
</mapper>