<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.store.dao.StoreDao">
    <!--获取当前登录人的角色-->
    <select id="getUserRole" parameterType="java.lang.String" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
            role
        from
            t_sys_user
        where
            user_code = #{userCode}
    </select>

    <!--统计营业执照或店长编号数量-->
    <select id="countCode" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select count(store_code)
        from t_store
        where is_deleted = 0
        and (license_code = #{licenseCode}
        or user_code = #{userCode})
        <if test="storeCode != null and storeCode != ''">
            and store_code != #{storeCode}
        </if>
    </select>

    <!--新增门店信息-->
    <insert id="saveStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        insert into t_store
        (
         village_code,
         store_code,
         store_name,
         user_code,
         phone,
         license_code,
         province_code,
         city_code,
         area_code,
         address,
         is_deleted,
         create_name,
         create_time,
         update_name,
         update_time,
         version
         )
        values
        (
          #{villageCode},
          #{storeCode},
          #{storeName},
          #{userCode},
          #{phone},
          #{licenseCode},
          #{provinceCode},
          #{cityCode},
          #{areaCode},
          #{address},
          #{isDeleted},
          #{createBy},
          now(),
          #{lastModifiedBy},
          now(),
         0)
    </insert>

    <!--站点信息列表-->
    <select id="listStoreByPage" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
        a.store_code storeCode,
        a.store_name storeName,
        a.phone phone,
        a.address address,
        b.user_name userName,
        b.user_acct userAcct,
        a.village_code villageCode,
        a.version version
        from t_store a
        left join
        t_sys_user b
        on a.user_code = b.user_code
        where
        a.is_deleted = 0
        <if test="role == 3">
            and a.user_code = #{userCode}
        </if>
        <if test="storeCode != null and storeCode != ''">
            and a.store_code like concat('%', #{storeCode}, '%')
        </if>
        <if test="storeName != null and storeName != ''">
            and a.store_name like concat('%', #{storeName}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and b.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            and a.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            and a.city_code = #{cityCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            and a.area_code = #{areaCode}
        </if>
        order by a.create_time desc
    </select>

    <!--获取站点详情-->
    <select id="getStoreByStoreCode" parameterType="java.lang.String" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select distinct
         b.user_code userCode,
         a.store_code storeCode,
         a.store_name storeName,
         a.phone phone,
         a.address address,
         b.user_name userName,
         b.user_acct userAcct,
         a.province_code provinceCode,
         a.city_code cityCode,
         a.area_code areaCode,
         c.dic_name provinceName,
         d.dic_name cityName,
         e.dic_name areaName,
         a.license_code licenseCode,
         a.village_code villageCode,
         a.version version
       from
         t_store a
       left join t_sys_user b
        on a.user_code = b.user_code
       left join t_dictionary c
        on a.province_code = c.dic_code
       left join t_dictionary d
        on a.city_code = d.dic_code
       left join t_dictionary e
        on a.area_code = e.dic_code
       where
         a.is_deleted = 0
       and
         a.store_code = #{storeCode}
    </select>

    <!--修改门店信息-->
    <update id="updateStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update t_store
        set
            store_name = #{storeName},
            phone = #{phone},
            province_code = #{provinceCode},
            city_code = #{cityCode},
            area_code = #{areaCode},
            user_code = #{userCode},
            license_code = #{licenseCode},
            address = #{address},
            village_code = #{villageCode},
            update_time = now(),
            update_name = #{lastModifiedBy},
            version  = version + 1
        where store_code = #{storeCode}
          and version = #{version}
    </update>

    <!--查询输入的站点编号中是否有未完成的订单-->
    <select id="listOrder" resultType="java.lang.String">
        select distinct
        store_code
        from
        t_order
        where
        store_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
        and
        order_state != 5
    </select>

    <!--删除站点-->
    <update id="deleteStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update t_store
        set
        is_deleted = 1,
        update_time = now(),
        update_name  = #{Id},
        version = version + 1
        where store_code in
        <foreach item="item" index="index" collection="listStoreCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查询省市区下拉列表-->
    <select id="listArea" parameterType="java.lang.String" resultType="com.xzsd.pc.store.entity.AreaInfo">
        select
          dic_code areaCode,
          dic_name areaName
        from
          t_dictionary
        where
          parent_code = #{parentCode}
        order by dic_code
    </select>

    <select id="listStoreBoss" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
            user_name userName,
            user_code userCode
        from
            t_sys_user
        where
            role = 3
    </select>
</mapper>
