<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.images.dao.TopDao">
    <select id="getInfoByCode" parameterType="java.lang.String" resultType="com.xzsd.pc.images.entity.TopInfo">
        select
            user_code userCode,
            user_name userName,
            image_path imagePath,
            role role
            from t_sys_user
            where user_code = #{userCode}
            and is_deleted = 0
    </select>
</mapper>